.nav.drop :focus {
  outline: solid 2px blue;
  outline-offset: -.4em; }

.nav.drop ul ul {
  padding: 0;
  position: absolute;
  left: 0;
  top: 3em;
  background: #fff; }

.nav.drop ul ul ul {
  margin-left: 100%;
  top: 0; }

.nav.drop li {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  padding-right: 2em; }

.nav.drop li > a {
  padding: 1em;
  display: block; }

.nav.drop li {
  /* 		padding-left: 0; */
  z-index: 0;
  position: relative;
  white-space: nowrap; }

.nav.drop li li {
  display: block; }

.nav.drop input:not(:checked) ~ ul {
  display: none; }

.nav.drop input {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  position: absolute;
  /* 		background: red; */
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: url(images/select.png) right center no-repeat;
  background-position-x: calc(100% - 1em); }

.nav.drop li li input {
  background-image: url(images/select-right.png); }

.nav.drop a[href] ~ input {
  z-index: -1; }
